<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">

        <h1>User Registration</h1>

        <form id="registrationForm" action="/submit" method="POST">
            <label>Name</label>
            <input type="text" name="name" placeholder="Enter your name">

            <label>Email</label>
            <input type="email" name="email" placeholder="Enter your email" >

            <label>Phone Number</label>
            <input type="tel" name="phonenumber" placeholder="Enter your phone number" >

            <label>Age</label>
            <input type="number" name="age" placeholder="Enter your age" >

            <button type="reset">Reset</button>

        </form>

    </div>
<script src="/js/script.js"></script>
</body>
</html>